# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#test

DATABASE_URL="postgresql://nexdevelopment:n3xd3v3l0pm3nt@172.16.41.21:5434/db_nex?schema=public&connection_limit=1"
DATABASE_URL_NEX_LIBRARY="postgresql://nexdevelopment:n3xd3v3l0pm3nt@172.16.41.21:5434/db_nex?schema=nex_library&connection_limit=1"
DATABASE_URL_HOMEPAGE="postgresql://nexdevelopment:n3xd3v3l0pm3nt@172.16.41.21:5434/db_nex?schema=homepage&connection_limit=1"
DATABASE_URL_NEX_COMMUNITY="postgresql://nexdevelopment:n3xd3v3l0pm3nt@172.16.41.21:5434/db_nex?schema=nex_community&connection_limit=1"
DATABASE_URL_NEX_LEVEL="postgresql://nexdevelopment:n3xd3v3l0pm3nt@172.16.41.21:5434/db_nex?schema=nex_level&connection_limit=1"
DATABASE_URL_NEX_TALK="postgresql://nexdevelopment:n3xd3v3l0pm3nt@172.16.41.21:5434/db_nex?schema=nex_talk&connection_limit=1"
DATABASE_URL_NEX_LEARNING="postgresql://nexdevelopment:n3xd3v3l0pm3nt@172.16.41.21:5434/db_nex?schema=nex_learning&connection_limit=1"

REDIS_HOST=172.16.41.107
REDIS_PORT=6379

APPLICATION_NAME=th-nex-service
EUREKA_HOST=172.16.41.107
EUREKA_PORT=8761
EUREKA_INTERVAL=5000
